<form action="javascript:;" class="form1">
  <div class="row">
    <div class="col-sm-4 col-md-2">
      <div class="select1_wrapper">
        <label>Country:</label>
        <div class="select1_inner">
          <select class="select2 select" style="width: 100%">
            <option value="1">Please Select</option>
            <option value="2">Alaska</option>
            <option value="3">Bahamas</option>
            <option value="4">Bermuda</option>
            <option value="5">Canada</option>
            <option value="6">Caribbean</option>
            <option value="7">Europe</option>
            <option value="8">Hawaii</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="select1_wrapper">
        <label>City:</label>
        <div class="select1_inner">
          <select class="select2 select" style="width: 100%">
            <option value="1">Please Select</option>
            <option value="2">Alaska</option>
            <option value="3">Bahamas</option>
            <option value="4">Bermuda</option>
            <option value="5">Canada</option>
            <option value="6">Caribbean</option>
            <option value="7">Europe</option>
            <option value="8">Hawaii</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="select1_wrapper">
        <label>Location:</label>
        <div class="select1_inner">
          <select class="select2 select" style="width: 100%">
            <option value="1">Please Select</option>
            <option value="2">Alaska</option>
            <option value="3">Bahamas</option>
            <option value="4">Bermuda</option>
            <option value="5">Canada</option>
            <option value="6">Caribbean</option>
            <option value="7">Europe</option>
            <option value="8">Hawaii</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="input1_wrapper">
        <label>Pick up Date:</label>
        <div class="input1_inner">
          <input type="text" class="input datepicker" value="Mm/Dd/Yy">
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-2">
      <div class="input1_wrapper">
        <label>Drop off Date:</label>
        <div class="input1_inner">
          <input type="text" class="input datepicker" value="Mm/Dd/Yy">
        </div>
      </div>
    </div>


    <div class="col-sm-4 col-md-2">
      <div class="button1_wrapper">
        <button type="submit" class="btn-default btn-form1-submit">Search</button>
      </div>
    </div>
  </div>
</form>