    <div class="form-group has-icon has-label">
      <label><%=t.front_end_reservation.promotion_code%></label>
      <input type="text" class="form-control" id="promotion_code" name="promotion_code">
      <span class="form-control-icon"><i class="fa fa-ticket-alt"></i></span>
    </div>