    <div class="input2_wrapper">
      <label><%=t.front_end_reservation.promotion_code%></label>
      <div class="input2_inner">
        <input type="text" class="input " id="promotion_code" name="promotion_code">
      </div>
    </div>